/*PET TINDER CSS*/

/*FONTS AND ICONS AND MISC STYLES*/
@font-face {
    font-family: Sniglet;
    src: url("../assets/fonts/Sniglet-ExtraBold.otf");
}
@font-face {
    font-family: Sniglet Regular;
    src: url("../assets/fonts/Sniglet-Regular.otf");
}
.pet-nav .fa-cog, .pet-fav{
  top: 0;
  left: 0;
  display: block;
  padding-top: 5px;
  color: #F5EFED;
}

.fa-cog.icon-hover:hover{
    transition: opacity 0.5s, transform 0.5s;
    transform: rotate(-30deg) ;
}

.pet-fav.icon-hover:hover{
  transition: color 1s ease;
  color: rgb(233, 20, 126);
}

#redPaw img{
  max-height: 100px;
  padding: 5px;
  cursor: pointer;
}
#greenPaw img{
  max-height: 100px;
  padding: 5px;
  cursor: pointer;
}
.flip-horizontal { -webkit-transform: matrix(-1, 0, 0, 1, 0, 0) }

/*BASIC ELEMENTS*/
body, html {
  background-color: #F5EFED;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 14px;
}
main{
  margin: 50px 0;
}

.header-link{
  color: #F5EFED;
}
.header-link:hover{
  text-decoration: none;
  text-transform: none;
  color: #F5EFED;
}

h1{
  font-family: "Sniglet Regular", sans-serif;
  font-weight: bolder;
}

h2{
  font-family: "Sniglet Regular", sans-serif;
  font-weight: bold;
}

h3, h4{
  font-family: "Sniglet Regular", sans-serif;
}


/*NAVIGATION*/

.navbar {
  color: black;
  width: 100%;
  border-radius: 0px;
} 

.pet-nav  .container a h1 {
  font-size: 32px;
  font-weight: 600;
  float: left!important;
}

.pet-nav {
  background-color: #2292A4;
  color: #F5EFED;
  padding: 15px;
  overflow: hidden;
}

.pet-nav  span a {
  float: right;
  text-align: center;
  text-decoration: none;
  font-size: 17px;
}

.pet-nav  a.active {
  background-color: #4CAF50;
  color: white;
}

/*LOGIN*/


#entryForm {
  margin-top: 14px;
}

#container {
  margin-top: 10px;
}

.container p{
  margin-top : 14px;
}

.message {
  padding: 10px 0;
}

.message p {
  margin-left: 10px;
}

.message:nth-child(odd) {
   background-color: #eeeeee;
}

.message:nth-child(even) {
  background-color: #f8f8f8;
}

.btn-danger{
  margin-left: 10px;
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  text-decoration: underline;
  color: grey;
}

.image-box {
  background-color: rgb(155, 155, 248);
  padding: 5px;
}

.container img{
  max-height: 300px;
}

.card{
  background-color: rgba(255, 255, 255, .6);
  padding: 15px;
}


/* HOME */


.toaster a {
  font-weight: bold;
  color: black;
  text-decoration: none;
}

a .fa-times{
  color: #155724;
}

#mainPhoto{
  margin: 10px;
  cursor: pointer;
}

.information{
  display: block;
  margin: 20px;
  padding: 15px;
  background-color: rgba(255, 255, 255, .6);
}

.gallery-image{
  cursor: pointer;
}

.future-cards .card{
  min-height: 230px;
  padding: 3px;
  margin: 2px;
}


.alert-success a:hover{
  color: #155724;
  text-transform: none;
}
.alert-success a{
  color: #155724;
  text-transform: none;
}