<!-- <div class="navbar">
  <div class="container">
    <ul>
      <li><a href="#/user">User Home</a></li>
      <li><a href="#/info">Info Page</a></li>
    </ul>
  </div>
</div> -->

<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Petinder</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#about">About</a></li>
        <li><a href="#contact">Contact</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Signup  <i class="fa fa-user-plus"></i></a></li>
        <li><a href="#about">Login  <i class="fa fa-user"></i></a></li>
      </ul>
    </div>
  </div>
 </nav>