<div class="container container-fluid future-cards ">
    <h1>Future Friends</h1>
    <p>Your saved potential pets!</p>
    <div class="row album">
        <div class="container">
            <div class="row">
                <div ng-repeat="pet in pc.petsService.futureFriends" class="card">
                    <img class="img-fluid gallery-image" style="height:280px; width:100%; display: block;" ng-src="{{ pet.image }}">
                    <p class="card-text text-center">{{ pet.name }}</p>

                </div>
            </div>
        </div>
    </div>
</div>

