<div class="container home-container">
    <a href="/info.html">
        <img id="mainPhoto" src="https://dl5zpyw5k3jeb.cloudfront.net/photos/pets/40578214/1/?bust=1515048857&width=300" />
    </a>
    <h1 id="name" class="lead">Gus</h1>
    <div id="pawPrints">
        <div id="redPaw">
          <a href="#">
            <img src="http://hddfhm.com/images/red-pawprint-clipart-6.png" />
          </a>
        </div>
        <div id="greenPaw">
            <a href="#">
              <img src="http://www.clker.com/cliparts/u/6/s/a/y/F/green-paw-print-hi.png" />
            </a>
        </div>
    </div>
    <!-- <h1 class="lead alert alert-danger" role="alert" ng-if="lc.message != ''">{{lc.message}}</h2>
    <form ng-submit="lc.login()">
      <div>
          <label for="username">Username:</label>
          <input type="text" ng-model="lc.user.username" />
      </div>
      <div>
          <label for="password">Password:</label>
          <input type="password" ng-model="lc.user.password" />
      </div>
      <div>
          <input class="btn btn-default" type="submit" name="submit" value="Log In" />
          <a href="#register">Register</a>
      </div>
    </form> -->
</div>