<div class="container container-fluid card">
  <div class="row ">
    <div class="mx-auto text-center" ng-click="PetService.showMore = !PetService.showMore;">
      <h2 id="name" class="lead">{{pc.petsService.currentPet.data.name}}</h2>
      <img id="mainPhoto" ng-if="pc.petsService.currentPet.photos[0].x" ng-src={{pc.petsService.currentPet.photos[0].x}} />
      <img id="mainPhoto" ng-if="!pc.petsService.currentPet.photos[0].x" src="assets/images/cat-silhouette.png" />
    </div>
  </div>
  <div id="pawPrints" class="row">
    <div class="mx-auto" id="redPaw">
      <div class="col">
        <img ng-click="pc.hidePet(pc.petsService.currentPet.data.id)" class="img-fluid flip-horizontal" src="assets/images/red-paw.png"
        />
      </div>
    </div>
    <div class="mx-auto" id="greenPaw">
      <div class="col">
        <img ng-click="pc.lovePet(pc.petsService.currentPet.data.id)" class="img-fluid flip-horizontal" src="assets/images/green-paw.png"
        />
      </div>
    </div>
  </div>
  <div id="description" class="hide" ng-show="PetService.showMore">
    <h3>Description</h3>
    <p ng-if="pc.petsService.currentPet.data.description">
      {{pc.petsService.currentPet.data.description}}
    </p>
    <p ng-if="!pc.petsService.currentPet.data.description">
      Sorry! I only have my adorable photo right now. If you want to learn more about me, all you have to do is
      <a href="#contact">contact</a> the shelter I come from and ask!
    </p>
    <div>
      <div id="otherInfo">
        <h3>Other information</h3>
        <span ng-if="pc.petsService.currentPet.data.breeds">
          <h4>Breed(s):</h4>
          <ul ng-repeat="breed in pc.petsService.currentPet.data.breeds">
            <li>{{breed}}</li>
          </ul>
        </span>
        <h4>Age:</h4>
        {{pc.petsService.currentPet.data.age}}
        <h4>Sex:</h4>
        {{pc.petsService.currentPet.data.sex}}
        <h4>Size:</h4>
        {{pc.petsService.currentPet.data.size}}
      </div>
    </div>


    <a href="#contact" class="btn btn-primary">Contact Shelter</a>
  </div>

  <!-- {{pc.petsService.currentPet.data}} -->
  <!-- mailto:{{pc.petsService.currentPet.data.contact.email}} -->



</div>