<div class="container container-fluid">
  <div class="row ">
    <div class="mx-auto text-center">
      <img id="mainPhoto" ng-src={{pc.petsService.currentPet.photos[0].x}} ng-click="PetService.showMore = !PetService.showMore;" ;/>
      <h2 id="name" class="lead">{{pc.petsService.currentPet.data.name}}</h2>

    </div>
  </div>
  <div id="pawPrints" class="row">
    <div class="mx-auto" id="redPaw">
      <div class="col">
          <img ng-click="pc.getNextPet()" class="img-fluid flip-horizontal" src="assets/images/red-paw.png" />
      </div>
    </div>
    <div class="mx-auto" id="greenPaw">
      <div class="col">
          <img ng-click="pc.lovePet(pc.petsService.currentPet)" class="img-fluid flip-horizontal" src="assets/images/green-paw.png" />
      </div>
    </div>
  </div>
  <div id="description" class="hide" ng-show="PetService.showMore">
    <h3>Description:</h3>
    <p>
      {{pc.petsService.currentPet.data.description}}
    </p>
    <div>
      <h3>Stats:</h3>
      <h4>Breeds:</h4>
      <ul ng-repeat="breed in pc.petsService.currentPet.data.breeds">
        <li>{{breed}}</li>
      </ul>
      <h4>Age:</h4>
      {{pc.petsService.currentPet.data.age}}
      <h4>Sex:</h4>
      {{pc.petsService.currentPet.data.sex}}
      <h4>Size:</h4>
      {{pc.petsService.currentPet.data.size}}
    </div>

    <a href="#contact" class="btn btn-primary">Contact Shelter</a>
  </div>

  <!-- {{pc.petsService.currentPet.data}} -->
  <!-- mailto:{{pc.petsService.currentPet.data.contact.email}} -->
  


</div>