
<div ng-include="'views/partials/nav.html'"></div>
<div class="container-fluid pet-details">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8 box">
      <h1>Pet Details</h1>
      <div class="row">
				<div class="col-md-1"></div>
				<div class="col-md-10">
				<div class="image-box">
    				<img class="img-fluid text-center" src="https://cdn.pixabay.com/photo/2015/02/05/12/09/chihuahua-624924_1280.jpg">
					<p><ul>
            <li><b>Benjamin Butterscotch</b></li>
            <li>25 miles away</li>
            <li>Feline Rescue</li>
          </ul></p>
				</div>
				<div class="col-md-1"></div>
			</div>
    </div>
    <div class="col-md-2"></div>
  </div>
</div>
